#filtered-results


  each user in users
      .row
        .col-sm-6.col-md-4
          .thumbnail
            .thumbnailPhoto(style='background-image: url("#{user.photos[0].path}");')
            .caption
              h3= user.username
              p= user.age
              p=user.developerType
              a.button-border-action(href='users/#{user._id}') view profile
